<section class="hero">
  <div class="heading">
    <h1>About Us</h1>
  </div>
  <div class="container">
    <div class="hero-content">
      <h2>Hello there</h2>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi
        atque tenetur quidem unde consequatur sit, iste, recusandae maiores
        officia, ipsam obcaecati quam aliquid nobis fugiat! Dicta porro enim id
        quae.
      </p>
      <button class="cta-button">Learn more</button>
    </div>
    <div class="hero-image">
      <img src="../assets/student.jpeg" alt="" />
    </div>
  </div>
</section>

<!-- 
<body>
  <div class="container">
    <h1>Who are We ?</h1>
    <p>
      Google Developer Student Club is a program by Google Developers designed
      for university students aiming to enhance their mobile and web development
      skills. Welcoming students at all skill levels, from beginners to advanced
      developers, GDSC serves as a collaborative space for experimenting with
      new ideas and tackling mobile and web development challenges. The club
      engages in diverse activities, ranging from small gatherings for video
      sessions to larger events featuring tech talks, hackathons, and
      conferences. The overarching goal is to leverage Google Technologies to
      empower and inspire the student community in various technical domains.
    </p>
  </div>
</body>
<br />
-->
