body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 10px;
}

.logo img {
  height: 45px;
  margin-left: 40px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  padding: 0 15px;
  font-size: 18px;
}

.nav-links a:hover {
  background-color: #555;
  border-radius: 5px;
}

.navbar-toggle {
  display: none;
  background-color: #333;
  color: white;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
    width: 100%;
    text-align: center;
  }

  .nav-links a {
    display: block;
    padding: 10px;
  }

  .navbar-toggle {
    display: inline-block;
  }
}

.show-nav-links {
  display: block !important;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .logo {
    order: -1;
    margin-left: 0;
    margin-bottom: 10px;
  }

  .logo img {
    margin: auto;
  }

  .navbar-toggle {
    display: none;
  }
}
