<body>
  <div class="about">
    <h1>OUR TEAM</h1>
    <br />
    <div class="wrapper">
      <i id="left" class="fa-solid fa-angle-left"></i>
      <ul class="carousel">
        <li class="card">
          <div class="img">
            <img src="../assets/1.png" alt="img" draggable="false" />
          </div>
          <h2>Megha Beria</h2>
          <span>Competitive Programming</span>
        </li>
        <li class="card">
          <div class="img">
            <img src="../assets/2.png" alt="img" draggable="false" />
          </div>
          <h2>Uday Badola</h2>
          <span>Podcast</span>
        </li>
        <li class="card">
          <div class="img">
            <img src="../assets/3.png" alt="img" draggable="false" />
          </div>
          <h2>Ruhani</h2>
          <span>Design</span>
        </li>
        <li class="card">
          <div class="img">
            <img src="../assets/4.png" alt="img" draggable="false" />
          </div>
          <h2>Yajushreshtha Shukla</h2>
          <span>Competitive Programming</span>
        </li>
        <li class="card">
          <div class="img">
            <img src="../assets/5.png" alt="img" draggable="false" />
          </div>
          <h2>Sumedh Dongre</h2>
          <span>Flutter</span>
        </li>
        <li class="card">
          <div class="img">
            <img src="../assets/6.png" alt="img" draggable="false" />
          </div>
          <h2>Siddharth Prabhakar</h2>
          <span>Andriod</span>
        </li>
        <li class="card">
          <div class="img">
            <img src="../assets/7.png" alt="img" draggable="false" />
          </div>
          <h2>Chahak Sengar</h2>
          <span>Cloud</span>
        </li>
        <li class="card">
          <div class="img">
            <img src="../assets/8.png" alt="img" draggable="false" />
          </div>
          <h2>Yash Parkhi</h2>
          <span>Game Development</span>
        </li>
        <li class="card">
          <div class="img">
            <img src="../assets/9.png" alt="img" draggable="false" />
          </div>
          <h2>Tawishi Gupta</h2>
          <span>Design</span>
        </li>
        <li class="card">
          <div class="img">
            <img src="../assets/10.png" alt="img" draggable="false" />
          </div>
          <h2>Ria vinod</h2>
          <span>Events</span>
        </li>
      </ul>
      <i id="right" class="fa-solid fa-angle-right"></i>
    </div>
  </div>
</body>
